@import "~@fluentui/react/dist/sass/References.scss";

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;
  }
}

/* Main */
.CarouselContainer {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  max-height: 370px;
}

.imageContainer .TitleLink {
  text-decoration: none;
  color: white;
}

.imageContainer .TitleLink:hover {
  color: white;
}

.imageContainer img {
  transition: transform 0.8s;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 530px;
}

.divCarouselCaption {
  > :first-child {
    left: 0 !important;
    right: 0 !important;
  }
}
.descriptionAndTime {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
}
.divcaptionHeader {
  position: absolute !important;
  right: 0px !important;
  bottom: 20px !important;
}

.imageContainer:hover img {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .imageContainer img {
    height: 200px;
  }
}
